USE [master]
GO
/****** Object:  Database [HastaneDB]    Script Date: 7.10.2026 20:28:17 ******/
CREATE DATABASE [HastaneDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HastaneDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HastaneDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HastaneDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HastaneDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HastaneDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HastaneDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DoktorTedaviSayisi]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DoktorTedaviSayisi] (@DoktorId INT)
RETURNS INT
AS
BEGIN
    DECLARE @TedaviSayisi INT;

    SELECT @TedaviSayisi = COUNT(td.Id)
    FROM Randevular r
    INNER JOIN Muayeneler m ON r.Id = m.RandevuId
    INNER JOIN MuayeneTedavi mt ON m.Id = mt.MuayeneId
    INNER JOIN Tedaviler td ON mt.TedaviId = td.Id
    WHERE r.DoktorId = @DoktorId;

    RETURN ISNULL(@TedaviSayisi,0);
END;
GO
/****** Object:  Table [dbo].[Doktorlar]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doktorlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[BolumId] [int] NOT NULL,
 CONSTRAINT [PK_Doktorlar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hastalar]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastalar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Cinsiyet] [char](1) NOT NULL,
	[TC] [char](11) NOT NULL,
 CONSTRAINT [PK_Hastalar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uniqe_Tc] UNIQUE NONCLUSTERED 
(
	[TC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Randevular]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Randevular](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RandevuTarihi] [datetime] NOT NULL,
	[HastaId] [int] NOT NULL,
	[DoktorId] [int] NOT NULL,
 CONSTRAINT [PK_Randevular] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muayeneler]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muayeneler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MuayeneTarihi] [datetime] NOT NULL,
	[RandevuId] [int] NOT NULL,
 CONSTRAINT [PK_Muayeneler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tanılar]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tanılar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Tanılar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tedaviler]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tedaviler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nchar](100) NOT NULL,
	[Ucret] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Tedaviler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receteler]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receteler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceteTarihi] [datetime] NOT NULL,
	[MuayeneId] [int] NOT NULL,
 CONSTRAINT [PK_Receteler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilaclar]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilaclar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](100) NOT NULL,
	[Fiyat] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Ilaclar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuayeneTedavi]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuayeneTedavi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MuayeneId] [int] NOT NULL,
	[TedaviId] [int] NOT NULL,
 CONSTRAINT [PK_MuayeneTedavi] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceteIlac]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceteIlac](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReceteId] [int] NOT NULL,
	[IlacId] [int] NOT NULL,
	[Adet] [int] NOT NULL,
 CONSTRAINT [PK_ReceteIlac] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MuayeneTanı]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MuayeneTanı](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MuayeneId] [int] NOT NULL,
	[TanıId] [int] NOT NULL,
 CONSTRAINT [PK_MuayeneTanı] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[HastaMuayeneDetay]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[HastaMuayeneDetay] AS
SELECT 
    h.Ad AS HastaAd,
    h.Soyad AS HastaSoyad,
    d.Ad AS DoktorAd,
    d.Soyad AS DoktorSoyad,
    t.Ad AS TaniAd,
    td.Ad AS TedaviAd,
    i.Ad AS IlacAd,
    rc.ReceteTarihi
FROM Hastalar h
INNER JOIN Randevular randevu ON h.Id = randevu.HastaId
INNER JOIN Doktorlar d ON randevu.DoktorId = d.Id
INNER JOIN Muayeneler m ON randevu.Id = m.RandevuId
LEFT JOIN MuayeneTanı mt ON m.Id = mt.MuayeneId
LEFT JOIN Tanılar t ON mt.TanıId = t.Id
LEFT JOIN MuayeneTedavi mtd ON m.Id = mtd.MuayeneId
LEFT JOIN Tedaviler td ON mtd.TedaviId = td.Id
LEFT JOIN Receteler rc ON m.Id = rc.MuayeneId
LEFT JOIN ReceteIlac ri ON rc.Id = ri.ReceteId
LEFT JOIN Ilaclar i ON ri.IlacId = i.Id;


GO
/****** Object:  UserDefinedFunction [dbo].[fn_DoktorTedaviBilgi]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DoktorTedaviBilgi] (@DoktorId INT)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        d.Id AS DoktorId,
        d.Ad AS DoktorAd,
        d.Soyad AS DoktorSoyad,
        COUNT(td.Id) AS ToplamTedaviSayisi,
        SUM(td.Ucret) AS ToplamKazanc
    FROM Doktorlar d
    INNER JOIN Randevular r ON d.Id = r.DoktorId
    INNER JOIN Muayeneler m ON r.Id = m.RandevuId
    INNER JOIN MuayeneTedavi mt ON m.Id = mt.MuayeneId
    INNER JOIN Tedaviler td ON mt.TedaviId = td.Id
    WHERE d.Id = @DoktorId
    GROUP BY d.Id, d.Ad, d.Soyad
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_HastaMasrafBilgileri]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_HastaMasrafBilgileri] (@HastaId INT)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        h.Id AS HastaId,
        h.Ad AS HastaAd,
        h.Soyad AS HastaSoyad,
        SUM(td.Ucret) AS ToplamTedaviUcreti,
        SUM(i.Fiyat * ri.Adet) AS ToplamIlacMasrafi,
        SUM(td.Ucret) + SUM(i.Fiyat * ri.Adet) AS GenelToplamMasraf
    FROM Hastalar h
    INNER JOIN Randevular r ON h.Id = r.HastaId
    INNER JOIN Muayeneler m ON r.Id = m.RandevuId
    LEFT JOIN MuayeneTedavi mt ON m.Id = mt.MuayeneId
    LEFT JOIN Tedaviler td ON mt.TedaviId = td.Id
    LEFT JOIN Receteler rc ON m.Id = rc.MuayeneId
    LEFT JOIN ReceteIlac ri ON rc.Id = ri.ReceteId
    LEFT JOIN Ilaclar i ON ri.IlacId = i.Id
    WHERE h.Id = @HastaId
    GROUP BY h.Id, h.Ad, h.Soyad
);
GO
/****** Object:  View [dbo].[DoktorTedaviBilgiW]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[DoktorTedaviBilgiW]
AS
SELECT
    f.DoktorId,
    f.DoktorAd,
    f.DoktorSoyad,
    f.ToplamTedaviSayisi,
    f.ToplamKazanc
FROM Doktorlar d
CROSS APPLY dbo.fn_DoktorTedaviBilgi(d.Id) AS f;
GO
/****** Object:  View [dbo].[HastaMasrafBilgileriW]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[HastaMasrafBilgileriW]
AS
SELECT
    f.HastaId,
    f.HastaAd,
    f.HastaSoyad,
    f.ToplamTedaviUcreti,
    f.ToplamIlacMasrafi,
    f.GenelToplamMasraf
FROM Hastalar h
CROSS APPLY dbo.fn_HastaMasrafBilgileri(h.Id) AS f;
GO
/****** Object:  Table [dbo].[Hastaneler]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastaneler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](60) NOT NULL,
	[Sehir] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Hastaneler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fakulteler]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fakulteler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[HastaneId] [int] NOT NULL,
 CONSTRAINT [PK_Fakulteler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bolumler]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[FakulteId] [int] NOT NULL,
 CONSTRAINT [PK_Bolumler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DoktorBilgileriW]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[DoktorBilgileriW]
AS
SELECT
    d.Id AS DoktorId,
    d.Ad AS DoktorAd,
    d.Soyad AS DoktorSoyad,
    b.Ad AS BolumAd,
    f.Ad AS FakultesiAd,
    h.Ad AS HastaneAd
FROM Doktorlar d
LEFT JOIN Bolumler b ON d.BolumId = b.Id
LEFT JOIN Fakulteler f ON b.FakulteId = f.Id
LEFT JOIN Hastaneler h ON f.HastaneId = h.Id;
GO
/****** Object:  Table [dbo].[Eklenen_Hastalar]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Eklenen_Hastalar](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Cinsiyet] [char](1) NULL,
	[TC] [nvarchar](11) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nchar](50) NOT NULL,
	[Sifre] [nchar](50) NOT NULL,
	[RolId] [int] NOT NULL,
 CONSTRAINT [PK_Kullanicilar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roller]    Script Date: 7.10.2026 20:28:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Roller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bolumler]  WITH CHECK ADD  CONSTRAINT [FK_Bolumler_Fakulteler] FOREIGN KEY([FakulteId])
REFERENCES [dbo].[Fakulteler] ([Id])
GO
ALTER TABLE [dbo].[Bolumler] CHECK CONSTRAINT [FK_Bolumler_Fakulteler]
GO
ALTER TABLE [dbo].[Doktorlar]  WITH CHECK ADD  CONSTRAINT [FK_Doktorlar_Bolumler1] FOREIGN KEY([BolumId])
REFERENCES [dbo].[Bolumler] ([Id])
GO
ALTER TABLE [dbo].[Doktorlar] CHECK CONSTRAINT [FK_Doktorlar_Bolumler1]
GO
ALTER TABLE [dbo].[Fakulteler]  WITH CHECK ADD  CONSTRAINT [FK_Fakulteler_Hastaneler] FOREIGN KEY([HastaneId])
REFERENCES [dbo].[Hastaneler] ([Id])
GO
ALTER TABLE [dbo].[Fakulteler] CHECK CONSTRAINT [FK_Fakulteler_Hastaneler]
GO
ALTER TABLE [dbo].[Kullanicilar]  WITH CHECK ADD  CONSTRAINT [FK_Kullanicilar_Roller] FOREIGN KEY([RolId])
REFERENCES [dbo].[Roller] ([Id])
GO
ALTER TABLE [dbo].[Kullanicilar] CHECK CONSTRAINT [FK_Kullanicilar_Roller]
GO
ALTER TABLE [dbo].[Muayeneler]  WITH CHECK ADD  CONSTRAINT [FK_Muayeneler_Randevular] FOREIGN KEY([RandevuId])
REFERENCES [dbo].[Randevular] ([Id])
GO
ALTER TABLE [dbo].[Muayeneler] CHECK CONSTRAINT [FK_Muayeneler_Randevular]
GO
ALTER TABLE [dbo].[MuayeneTanı]  WITH CHECK ADD  CONSTRAINT [FK_MuayeneTanı_Muayeneler] FOREIGN KEY([MuayeneId])
REFERENCES [dbo].[Muayeneler] ([Id])
GO
ALTER TABLE [dbo].[MuayeneTanı] CHECK CONSTRAINT [FK_MuayeneTanı_Muayeneler]
GO
ALTER TABLE [dbo].[MuayeneTanı]  WITH CHECK ADD  CONSTRAINT [FK_MuayeneTanı_Tanılar] FOREIGN KEY([TanıId])
REFERENCES [dbo].[Tanılar] ([Id])
GO
ALTER TABLE [dbo].[MuayeneTanı] CHECK CONSTRAINT [FK_MuayeneTanı_Tanılar]
GO
ALTER TABLE [dbo].[MuayeneTedavi]  WITH CHECK ADD  CONSTRAINT [FK_MuayeneTedavi_Muayeneler] FOREIGN KEY([MuayeneId])
REFERENCES [dbo].[Muayeneler] ([Id])
GO
ALTER TABLE [dbo].[MuayeneTedavi] CHECK CONSTRAINT [FK_MuayeneTedavi_Muayeneler]
GO
ALTER TABLE [dbo].[MuayeneTedavi]  WITH CHECK ADD  CONSTRAINT [FK_MuayeneTedavi_Tedaviler] FOREIGN KEY([TedaviId])
REFERENCES [dbo].[Tedaviler] ([Id])
GO
ALTER TABLE [dbo].[MuayeneTedavi] CHECK CONSTRAINT [FK_MuayeneTedavi_Tedaviler]
GO
ALTER TABLE [dbo].[Randevular]  WITH CHECK ADD  CONSTRAINT [FK_Randevular_Doktorlar] FOREIGN KEY([DoktorId])
REFERENCES [dbo].[Doktorlar] ([Id])
GO
ALTER TABLE [dbo].[Randevular] CHECK CONSTRAINT [FK_Randevular_Doktorlar]
GO
ALTER TABLE [dbo].[Randevular]  WITH CHECK ADD  CONSTRAINT [FK_Randevular_Hastalar] FOREIGN KEY([HastaId])
REFERENCES [dbo].[Hastalar] ([Id])
GO
ALTER TABLE [dbo].[Randevular] CHECK CONSTRAINT [FK_Randevular_Hastalar]
GO
ALTER TABLE [dbo].[ReceteIlac]  WITH CHECK ADD  CONSTRAINT [FK_ReceteIlac_Ilaclar] FOREIGN KEY([IlacId])
REFERENCES [dbo].[Ilaclar] ([Id])
GO
ALTER TABLE [dbo].[ReceteIlac] CHECK CONSTRAINT [FK_ReceteIlac_Ilaclar]
GO
ALTER TABLE [dbo].[ReceteIlac]  WITH CHECK ADD  CONSTRAINT [FK_ReceteIlac_Receteler] FOREIGN KEY([ReceteId])
REFERENCES [dbo].[Receteler] ([Id])
GO
ALTER TABLE [dbo].[ReceteIlac] CHECK CONSTRAINT [FK_ReceteIlac_Receteler]
GO
ALTER TABLE [dbo].[Receteler]  WITH CHECK ADD  CONSTRAINT [FK_Receteler_Muayeneler] FOREIGN KEY([MuayeneId])
REFERENCES [dbo].[Muayeneler] ([Id])
GO
ALTER TABLE [dbo].[Receteler] CHECK CONSTRAINT [FK_Receteler_Muayeneler]
GO
ALTER TABLE [dbo].[Eklenen_Hastalar]  WITH CHECK ADD CHECK  (([Cinsiyet]='E' OR [Cinsiyet]='K'))
GO
USE [master]
GO
